body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: #201d1d;
    font-family: Cambria, "Times New Roman", serif;
    font-size: 100%;
    color: white;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #1a1a1a;
}

.menu a {
    float: left;
    display: block;
    padding: 1.5625% 2%;
    color: white;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

a.logo {
    float: right;
    margin: 0 auto;
}

.menu a:hover {
    background: #111;
    color: red;
}